on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: 'windows-latest'
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          cache: maven
          distribution: temurin
          java-version: 21
          server-id: central
          server-username: CI_DEPLOY_USERNAME
          server-password: CI_DEPLOY_PASSWORD
          gpg-private-key: ${{ secrets.SIGNING_KEY }}
          gpg-passphrase: ${{ secrets.SIGNING_PASSWORD }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
      - name: Verify with Maven
        if: github.repository_owner == 'spotbugs' && github.event_name == 'push'
        run: ./mvnw -B verify -D"org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
        env:
          MAVEN_GPG_KEY_NAME: ${{ secrets.SIGNING_KEY }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.SIGNING_PASSWORD }}
      - name: Verify with Maven
        if: github.repository_owner != 'spotbugs' || (github.repository_owner == 'spotbugs' && github.event_name != 'push')
        run: ./mvnw -B verify -D"org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn" -D"gpg.skip=true"
      - name: NPM CI
        run: npm ci
      - name: Copy Maven settings
        shell: bash
        run: cp ~/.m2/settings.xml ./maven_settings.xml
      - name: NPM Exec Semantic Release
        run: npm exec semantic-release
        env:
          CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
          CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
          MAVEN_GPG_KEY_NAME: ${{ secrets.SIGNING_KEY }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.SIGNING_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
